@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

/* Styles */
* {
  margin: 0;
  padding: 0;
}

form {
  font-family: "Montserrat", sans-serif;
  padding: 20px;
  margin: 20px;
  background: #e5ebef;
  color: #1f2b38;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border-color: #b6c4cc;
  width: 600px;
}

form label,
form input,
form button {
  margin-bottom: 3px;
  display: block;
  width: 100%;
}
form input {
  height: 25px;
  line-height: 25px;
  background: #fff;
  color: #000;
  padding: 0 6px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 30%;
  border: 0px;
}
form button {
  height: 30px;
  line-height: 30px;
  background: #117cba;
  color: #fff;
  margin-top: 10px;
  cursor: pointer;
  width: 50%;
  border-radius: 4px;
  border: 0px;
}

form button:hover {
  background: #0d5b88;
}

form button:disabled {
  background: #117cba77;
  color: #fffafaee;
}

.fa {
  color: #fff
}

.fa:hover {
  color: #fff
}

.title {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  margin: 0px 25px 25px 25px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.companyData {
  padding: 12px 12px 12px 12px;
  margin-bottom: 12px;
  display: block;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: #d2dde5;
  border-color: #b6c4cc;
}

.input-group {
  margin-bottom: 12px;
}
